*{
    padding: 0px;
    margin: 0px;
}

#main-input{
    display: flex;
    justify-content: center;
    width: 90vw;
    height: 124px;
    margin: 0 auto;
    
}

#staly-product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 6px 0px;
}

.format-align{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: larger;
    
}

#form-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto 0px auto;
    width: 92vw;
    height: 10rem;
}

#price, #product {
    height: 3rem;
    width: 100%;
    border-radius: 8px;
    border: none;
    text-align: center;
    border: 1px solid var(--colorLine);
    background-color: var(--backgroundValues);
    box-shadow: inset 0px 0px 12px 5px var(--insideShadow);
}

#price:focus, #product:focus{
    outline: 2px solid var(--colorLine);
}

#button-add{
    height: 3rem;
    width: 10.4rem;
    border-radius: 8px;
    background-color: var(--mainColor);
    border: none;
    transition: 0.5S;
    margin-top: 12px;
    
}

@media (min-width: 600px) {
    
    #main-input{
        max-width: 622px;
    }

    #button-add{
        background-color: var(--mainColorDark);
        font-size: 1rem;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.5)
    }

    #button-add:hover{
        background-color: var(--mainColor);
        box-shadow: 0px 0px 14px var(--mainColor);
        color: white;
    
    }
}