*{
    padding: 0px;
    margin: 0px;
}

#main-input{
    display: flex;
    justify-content: center;
    width: 90vw;
    height: 124px;
    margin: 0 auto;
    
}

#staly-product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 6px 0px;
}

.format-align{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: larger;
    
}

#form-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px auto 0px auto;
    width: 92vw;
    height: 10rem;
}

#price, #product {
    height: 3rem;
    width: 100%;
    border-radius: 8px;
    border: none;
    text-align: center;
}

#price:focus, #product:focus{
    outline: 2px solid rgb(116, 116, 250);
}

#button-add{
    height: 3rem;
    width: 10.4rem;
    border-radius: 8px;
    background-color: rgb(116, 116, 250);
    border: none;
    transition: 0.5S;
    margin-top: 12px;
}

@media (min-width: 600px) {
    
    #main-input{
        max-width: 622px;
        
    }

    #button-add{
        background-color: rgb(57, 57, 114);
        font-size: 1rem;
        font-weight: bold;
    }

    #button-add:hover{
        background-color: rgb(116, 116, 250);
        
    }
}