:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --colorLine: rgba(66, 66, 66, 0.233);
  --insideShadow: rgba(0, 0, 0, 0.705);
  --backgeoundColorTable: rgb(29, 29, 29);
  --backgroundItensList: rgba(46, 46, 46, 0.801);
  --boxShadowItensList: rgb(10, 8, 8);
  --backgroundValues: rgb(34, 34, 34);

  --mainColorDark:rgb(23, 47, 100);
  --mainColorShadowDark: rgb(33, 33, 61);

  --mainColor: rgb(19, 67, 168);
  --mainShadow: rgb(41, 41, 87);

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

